---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17ISNyBDRuCwc6R2PuXdC6vr&email=john%40example.com&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7XXSs8fFYPibl1",
          "object": "customer",
          "account_balance": 0,
          "created": 1450222755,
          "currency": "cad",
          "default_source": "card_17ISNyBDRuCwc6R2oPiutGbp",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17ISNyBDRuCwc6R2oPiutGbp",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7XXSs8fFYPibl1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "SAow76ubNBhomPEk",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7XXSs8fFYPibl1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7XXSQsNX40vsn9",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1452901155,
                "current_period_start": 1450222755,
                "customer": "cus_7XXSs8fFYPibl1",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 999,
                  "created": 1450217191,
                  "currency": "cad",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Myflix Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1450222755,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7XXSs8fFYPibl1/subscriptions"
          }
        }
  recorded_at: Tue, 15 Dec 2015 23:39:16 GMT
recorded_with: VCR 3.0.0
