---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17QoE0BDRuCwc6R263aulNev",
          "object": "token",
          "card": {
            "id": "card_17QoE0BDRuCwc6R2mrq2wQFF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "SAow76ubNBhomPEk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "99.226.86.122",
          "created": 1452213328,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 08 Jan 2016 00:35:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_17QoE0BDRuCwc6R263aulNev&currency=usd&description=A+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17QoE2BDRuCwc6R2IY52Gy3e",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17QoE3BDRuCwc6R2YP8tCUGu",
          "captured": true,
          "created": 1452213330,
          "currency": "usd",
          "customer": null,
          "description": "A valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17QoE2BDRuCwc6R2IY52Gy3e/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17QoE0BDRuCwc6R2mrq2wQFF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "SAow76ubNBhomPEk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 08 Jan 2016 00:35:31 GMT
recorded_with: VCR 3.0.0
