---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_00000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_00000000000000",
            "param": "id"
          }
        }
  recorded_at: Fri, 08 Jan 2016 21:03:29 GMT
recorded_with: VCR 3.0.0
