---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17ISOABDRuCwc6R2uKsdxzlM",
          "object": "token",
          "card": {
            "id": "card_17ISOABDRuCwc6R283iVvtjs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "SAow76ubNBhomPEk",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "99.226.86.122",
          "created": 1450222766,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 15 Dec 2015 23:39:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17ISOABDRuCwc6R2uKsdxzlM&email=caie%40sipes.io&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_7Z032KY6RwNK0xgooEKxqYYO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7XXTdbZBhm10un",
          "object": "customer",
          "account_balance": 0,
          "created": 1450222767,
          "currency": "cad",
          "default_source": "card_17ISOABDRuCwc6R283iVvtjs",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "caie@sipes.io",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17ISOABDRuCwc6R283iVvtjs",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7XXTdbZBhm10un",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "SAow76ubNBhomPEk",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7XXTdbZBhm10un/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7XXTXTTus5zh4E",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1452901167,
                "current_period_start": 1450222767,
                "customer": "cus_7XXTdbZBhm10un",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 999,
                  "created": 1450217191,
                  "currency": "cad",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Myflix Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1450222767,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7XXTdbZBhm10un/subscriptions"
          }
        }
  recorded_at: Tue, 15 Dec 2015 23:39:27 GMT
recorded_with: VCR 3.0.0
